DNANEXUS_TOKEN=
SLACK_TOKEN=

PROJECT_52=project-FpVG0G84X7kzq58g19vF1YJQ
PROJECT_53=project-FvbzbX84gG9Z3968BJjxYZ1k

AUTOMATED_MONTH_002=6
AUTOMATED_MONTH_003=3
TAR_MONTH=3
ARCHIVE_MODIFIED_MONTH=1
AUTOMATED_ARCHIVE_PICKLE_PATH=/home/jason/github/automated_archiving/var/archive_dict.pickle
AUTOMATED_ARCHIVED_TXT_PATH=/home/jason/github/automated_archiving/var/archived.txt
DEBUG=TRUE

ANSIBLE_SERVER=smtp.net.addenbrookes.nhs.uk
ANSIBLE_PORT=25
ANSIBLE_SENDER=BioinformaticsTeamGeneticsLab@addenbrookes.nhs.uk
ANSIBLE_RECEIVERS=abc@hotmail.com,ebh@cuhbioinformatics.atlassian.net